<header>
  <h1>
    Welcome to Upmetrics
  </h1>

</header>
<section>
  <ul>
    <li><%= link_to "My Profile", myprofile_ng_path %></li>
    <li><%= link_to "Summary", summary_ng_path %></li>
    <li><%= link_to "Users", users_ng_path %></li>
  </ul>
</section>