<header>
  <h1>
    Welcome to Team Manager!
  </h1>
  <h2>
    We're using Rails <%= Rails.version %> 
  </h2>
</header>
<section>
  <p>
    Future home of the Team Manager Dashboard
  </p>
</section>
