<section class="my-profile col-md-6" *ngIf="user">
<div class="panel panel-primary " *ngIf="user">
  <header class="panel-heading">
    <h1 class="h3">
      My Profile
    </h1>
  </header>
  <section class="panel-body">
    <div class="row">
      <h3 class="col-md-8">
          Name: {{user.first_name}} {{user.last_name}}
      </h3>

    </div>
    <div class="row">
      <h4 class="col-md-12">
        Email: {{user.email}}
      </h4>
    </div>
    <h4 class="row">
      <div class="col-md-4">
        Height: {{user.height}}
      </div>
      <div class="col-md-4">
        Weight: {{user.weight}}
      </div>
    </h4>
  </section>
</div>
  <div class="pull-right">
    <button class="btn btn-small btn-primary"
            on-click="editUser(user)">
      Edit User Profile
    </button>
  </div>
</section>
<section class="my-profile col-md-6" *ngIf="teams">
  <div class="panel panel-primary " >
    <header class="panel-heading">
      <h1 class="h3">
        My Teams
      </h1>
    </header>
    <section class="panel-body">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">Team Name</th>
          <th scope="col">Members</th>
        </tr>
        </thead>
        <tbody *ngFor="let team of teams">
        <tr>
          <td>{{team.name}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
</section>
<section class="my-profile col-md-6" >
  <div class="panel panel-primary " >
    <header class="panel-heading">
      <h1 class="h3">
        My Sports
      </h1>
    </header>
    <section class="panel-body">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">My Sports</th>
        </tr>
        </thead>
        <tbody *ngFor="let sport of user_sports">
        <tr>
          <td>{{sport.name}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="pull-right">
    <button class="btn btn-small btn-primary"
            on-click="editUser(user)">
      Choose Sport
    </button>
  </div>

</section>
<section class="my-profile col-md-6" *ngIf="user_participations">
  <div class="panel panel-primary " >
    <header class="panel-heading">
      <h1 class="h3">
        My Participation
      </h1>
    </header>
    <section class="panel-body">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Sport</th>
          <th scope="col">Duration</th>
        </tr>
        </thead>
        <tbody *ngFor="let participation of user_participations">
        <tr>
          <td>{{participation.date_of}}</td>
          <td>{{participation.name}}</td>
          <td>{{participation.duration_min}}</td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="pull-right">
    <button class="btn btn-small btn-primary"
            on-click="editUser(user)">
      Log Participation
    </button>
  </div>

</section>
<div class="container" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit User Profile</h4>
      </div>
      <div class="modal-body">
        <div [hidden]="submitted">
          <form class="form-horizontal" (ngSubmit)="onSubmit()" #userProfileForm="ngForm">
            <div class="form-group col-xs-12 row">
              <label for="first-name">First Name</label>
              <input type="text" class="form-control" id="first-name"
                     required
                     [(ngModel)]="userEdit.first_name" name="first-name"
                     #name="ngModel">
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                First Name is required
              </div>
            </div>
            <div class="form-group col-xs-12 row">
              <label for="last-name">Last Name</label>
              <input type="text" class="form-control" id="last-name"
                     required
                     [(ngModel)]="userEdit.last_name" name="last-name"
                     #name="ngModel">
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                Last Name is required
              </div>
            </div>
            <div class="form-group col-xs-12 row">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email"
                     [(ngModel)]="userEdit.email" name="email">
            </div>
            <div class="form-group col-xs-12 row">
              <label for="height">Height</label>
              <input type="text" class="form-control" id="height"
                     [(ngModel)]="userEdit.height" name="height">
            </div>
            <div class="form-group col-xs-12" row>
              <label for="weight">Weight</label>
              <input type="text" class="form-control" id="weight"
                     [(ngModel)]="userEdit.weight" name="weight">
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!userProfileForm.form.valid">Submit</button>
          </form>
        </div>

      </div>    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
