<section class="panel panel-primary user-list" *ngIf="users">
  <header class="panel-heading">
    <h1 class="h3">
      User List
    </h1>
  </header>
  <ol class="panel-body list-group">
    <li *ngFor="let user of users"
      class="list-group-item clearfix">
      <h2 class="h3">
        {{user.first_name}} {{user.last_name}}
        <small>{{user.email}}</small>
      </h2>
      <div class="pull-right">
        <button class="btn btn-small btn-primary"
                on-click="viewPublic(user)">
          View Public
        </button>
      </div>
      <div class="pull-right">
        <button class="btn btn-small btn-primary"
                on-click="viewMyProfile(user)">
          View My Profile
        </button>
      </div>
    </li>
  </ol>
</section>
